body {
    width: 100%;
    font-family: 'Source Sans 3', sans-serif;
    background-color: black;
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 1000;
}

header img {
    width: 3em;
    height: 3em;
}


nav {
    position: relative;
    margin-top: 4em ;
    display: inline-flex;
    justify-content: center;
    background-color: #343434;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
}

nav ul {
    padding: 0;
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
}

nav li {
    display: grid;
    justify-content: center;
    margin-right: 3em;
    margin-left: 3em;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav a:hover {
    color: red;
}

@media only screen and (max-width: 800px) {
    nav li {
        text-align: center;
        font-size: 0.8rem;
        margin: 5px;

    }
}

.content {
    margin-top: 1.5em;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr) auto;
    grid-auto-rows: auto;
    grid-auto-flow: column;
    justify-content: center;
    gap: 3em;
}

@media (max-width: 800px) {
    .content {
        display: inline-block;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 800px) {
    .box {
        margin-bottom: 3em;
    }
}

.box {
    padding-top: 2em;
    width: 10em;
    background-color: white;
    border-radius: 12px;
    text-align: center;
    font-size: 1.5rem;
}

.box img {
    width: 8em;
    height: 8em;
    border-radius: 12px;
}

.box button {
    width: 5em;
    height: 3em;
    border-radius: 12px;
    color: white;
    background-color: black;
    margin-bottom: 2em;
    transition: 0.5s;
}

.box button:hover {
    background-color: red;
    color: black;
}

.textsection {
    width: 100%;
    margin-top: 2em;
    text-align: center;
    background-color: white;
    color: black;
}

.textsection h1 {
    font-size: 1em;
    margin-bottom: 0;
}

.textsection p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 1.4rem;
}

@media (max-width: 800px) {
    .textsection p {
        font-size: 0.3em;


    }
    .textsection h1 {
        font-size: 0.8em;
    }
}

.video {
    width: 100%;
    text-align: center;
}

.video h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 1em;
}

.video p {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 0.5em;
}

.video video {
    margin-top: 2em;
    width: 45%;
    height: auto;
    border-radius: 12px;
}

.video button {
    padding: 10px;
    font-size: 0.5em;
    color: black;
    background-color: white;
    border-radius: 12px;
    margin-top: 0;
    margin-bottom: 4em;
    transition: 0.5s;
}

.video button:hover {
    background-color: red;
    color: black;
}

@media (max-width: 800px) {
    .video video {
        width: 60%;
        height: auto;
    }
    .video h1 {
        font-size: 0.8em;
    }
    .video button {
        font-size: 0.3em;
        margin-bottom: 8em;
    }
}


footer {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 0.5em;
    width: 100%;
    height: auto;
    background-color: white;
    color: black;
}







